{
	"useTabs": true,
	"singleQuote": true,
	"semi": false,
	"trailingComma": "none",
	"printWidth": 100,
	"tailwindStylesheet": "./src/styles/global.css",
	"plugins": ["prettier-plugin-astro", "prettier-plugin-tailwindcss"],
	"overrides": [{ "files": "*.astro", "options": { "parser": "astro" } }]
}
