@import '@fontsource/fira-mono';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	.appear {
		@apply !translate-y-0 !opacity-100 !scale-100;
	}
}

.recourse-title::after {
	content: '';
	position: absolute;
	border-radius: 0 0 10px 10px;
	-webkit-transform: perspective(100px) rotateX(-20deg);
	transform: perspective(100px) rotateX(-20deg);
	background: var(--resource-color);
	top: 0;
	right: 0;
	left: 0;
	z-index: -10;
	height: 108%;
	width: 100%;
}

@media (width <=710px) {
	.homePageGrid > :nth-child(n + 4) {
		display: none;
	}
}
@media (710px <= width <=1420px) {
	.homePageGrid > :nth-child(n + 7) {
		display: none;
	}
}

:root {
	--color-bg: #fafafa;
	--color-text: rgba(0, 0, 0, 0.7);
	color: var(--color-text);
	background-color: var(--color-bg);
	color: white;
	scroll-behavior: smooth;
	font-family: 'Gabarito', sans-serif;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

:root.dark {
	--color-bg: #1e2022;
	--color-text: rgba(0, 0, 0, 0.7);
}

/* Fonts ======== */
@font-face {
	font-family: 'Gabarito';
	src: url('@/assets/fonts/Gabarito-Regular.ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gabarito';
	src: url('@/assets/fonts/Gabarito-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

/* Scroll bar ======== */

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #282a2b;
}

::-webkit-scrollbar-thumb {
	background: white;
	border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
	background: #b3b3b3;
}
